a:3:{s:16:"from_email_field";s:24:"easy.smtp.1234@gmail.com";s:15:"from_name_field";s:10:"admin@smtp";s:13:"smtp_settings";a:6:{s:4:"host";s:14:"smtp.gmail.com";s:15:"type_encryption";s:3:"tls";s:4:"port";s:3:"587";s:13:"autentication";s:3:"yes";s:8:"username";s:24:"easy.smtp.1234@gmail.com";s:8:"password";s:16:"SlBHUElFc210cDg4";}}